.block_3 {
    margin-bottom: 200px;
}
.block_3 .title {
    font-family: NotoSerifBold, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    color: #2C2C2C;
}
.block_3 .title {
    text-align: center;
    margin-top: 180px;
    margin-bottom: 100px;
}
.block_3 .box_content {
    display: flex;
    justify-content: center;
}
.block_3 .box_content .box_1 {
    margin-right: 29px;
}
.block_3 .box_content .box_2 {
    margin-right: 29px;
}
.block_3 .box_content .box_1 .img_button {
    background: #FF715B;
    display: inline;
    padding: 10px 18px;
}
.block_3 .box_content .box_2 .img_button {
    background: #FF715B;
    display: inline;
    padding: 10px 18px;
}
.block_3 .box_content .box_1 .box_flex {
    display: flex;
    justify-content: center;
    font-family: NotoSerifBold, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #000000;
    position: absolute;
    margin-top: -89px;
    background: #FFFFFF;
    box-shadow: 0 10px 25px rgb(215 190 190);
    margin-left: 54px;
    padding: 20px 34px;
}
.block_3 .box_content .box_1 .box_flex span {
    font-family: ProductSansBold, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #FF715B;
}
.block_3 .box_content .box_1 .box_flex desc {
    font-family: ProductSansRegular, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #A79997;
}
.block_3 .box_content .box_2 .box_flex span {
    font-family: ProductSansBold, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #FF715B;
}
.block_3 .box_content .box_2 .box_flex desc {
    font-family: ProductSansRegular, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #A79997;
}
.block_3 .box_content .box_2 .box_flex {
    display: flex;
    justify-content: center;
    font-family: NotoSerifBold, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #000000;
    position: absolute;
    margin-top: -89px;
    background: #FFFFFF;
    box-shadow: 0 10px 25px rgb(215 190 190);
    margin-left: 54px;
    padding: 20px 34px;
}
.block_3 .box_content .box_2 .button_name {
    text-align: center;
    display: inline-block;
    color: #FFFFFF;
    background: #FF715B;
    padding: 20px 42px;
    justify-content: center;
    margin: 20px 0 0 135px;
}
.block_3 .box_content .box_1 .box_flex .box_flex_empty {
    margin-right: 20px;
}
.block_3 .box_content .box_2 .box_flex .box_flex_empty {
    margin-right: 20px;
}
