.block_4 .title {
    text-align: center;
    font-family: NotoSerifExtraBold, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    color: #2C2C2C;
    margin-bottom: 100px;
}
.block_4 .block_4_content {
    display: flex;
    justify-content: space-evenly;
}
.block_4 .block_4_content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.block_4 .block_4_content .flex_box_mini {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: NotoSerifBold, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #000000;
}
.block_4 .block_4_content .flex_box_mini span {
    font-family: ProductSansBold, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #FF715B;
}
.block_4 .block_4_content .flex_box_mini img {
    margin-right: 20px;
    margin-bottom: 50px;
}
.block_4 .block_4_content .flex_box_mini_1 {
    font-family: ProductSansRegular, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #A79997;
    text-align: center;
    line-height: 36px;
}
.block_4 .block_4_content .flex_box_mini_1 img {
    margin-top: 50px;
}
.block_4 .block_4_content .flex_box_m {
    background: #FFFFFF;
    box-shadow: 0 20px 30px rgba(227, 202, 202, 0.3);
    width: 690px;
    height: 513px;
}